<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <title><%= subject %></title>
    <link href="/css/app.css" rel="stylesheet">
    <script type="text/javascript" src="/js/app.js"></script>
  </head>
  <body>