<%- include('./partials/header'); %>
  <div class="container mt-2">
        <div id="g_id_onload"
        data-client_id="329235712483-f2isifu37ih9eguiaha6aoe4hgeafkh3.apps.googleusercontent.com"
        data-login_uri="http://localhost:3000/api/login"
        data-auto_prompt="false">
    </div>
    <div class="g_id_signin"
        data-type="standard"
        data-size="large"
        data-theme="outline"
        data-text="sign_in_with"
        data-shape="rectangular"
        data-logo_alignment="left">
    </div>
  </div>
<%- include('./partials/footer'); %>