*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background: darken($color-charcoal, 5%);
  color: $color-white-sand;
  @include font-primary();
  margin: 0;
  overflow: auto;
  font-size: $font-base-size * 0.85;
  line-height: 1.4;

  @include breakpoint() {
    font-size: $font-base-size;
  }
}

main.meat {
  background: $color-charcoal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include font-accent();
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.25em;
}

h5 {
  font-size: 1.15em;
}

h6 {
  font-size: 1em;
}

strong {
  @include font-primary-bold();
}

a {
  color: $color-white-sand;
  font-weight: bold;
  text-decoration: none;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background: darken($color-charcoal, 5%);
}

td,
th {
  margin: 0;
  padding: 1rem;
  border: 1px solid darken($color-charcoal, 5%);
}

th {
  @include font-accent();
}

img {
  max-width: 100%;
  height: auto;
}