form {
  fieldset {
    border: none;
    width: 100%;
  }

  input[type=text] {
    background: rgba(black, 0.5);
    color: $color-white-sand;
    padding: 1rem;
    width: 100%;
    border: none;
    transition: border 0.5s;
    border-bottom: 0.25em solid transparent;
    @include font-primary();

    &:focus {
      outline: none;
      border-bottom-color: $color-peach;
    }

    &::placeholder {
      color: $color-white-sand;
      opacity: 0.75;
    }
  }

  fieldset {
    margin: 0;
    padding: 1rem 0;
  }
}

input[type=submit],
button {
  @include font-accent();
  background-color: $color-peach;
  color: $color-charcoal;
  cursor: pointer;
  border: none;
  padding: 1em;
  transition: background-color 0.2s, color 0.2s;
  border-radius: 0.25em;
  font-size: 1em;

  &:not(:last-child) {
    margin-right: 1rem;
  }

  &:hover {
    background-color: darken($color-peach, 20%);
    color: white;
  }
}