*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background: $color-charcoal;
  color: $color-white-sand;
  @include font-primary();
  margin: 0;
  overflow: auto;
  font-size: $font-base-size * 0.85;
  line-height: 1.4;

  @include breakpoint() {
    font-size: $font-base-size;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include font-accent();
}

a {
  color: $color-white-sand;
  font-weight: bold;
  text-decoration: none;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background: rgba(black, 0.2);
}

td,
th {
  margin: 0;
  padding: 1rem;
  border: 1px solid rgba(black, 0.2);
}

th {
  @include font-accent();
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  @include flex-container();
}
