/* Colors */
$color-party-girl: #fc338f;
$color-peach: #E89B7D;
$color-charcoal: #373a36;
$color-white-sand: #e6e2dd;
$color-flame: #df461e;
$color-sunstone: #fdb060;
$color-olive: #908a27;

/* Emojis */
$emoji-peach: '🍑';

/* Typography */
$font-base-size: 16px;

@mixin font-lora {
  font-family: 'Lora', serif;
  font-weight: 400;
}

@mixin font-montserrat {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

@mixin font-primary {
  @include font-lora();
}

@mixin font-primary-bold {
  @include font-lora();
  font-weight: 600;
}

@mixin font-accent {
  @include font-montserrat();
}

/* Display */
@mixin flex-container {
  max-width: 960px;
  padding: 2rem;
  margin: 0 auto;

  @include breakpoint() {
    padding: 3rem;
  }
}

$breakpoint-sm: 480px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1920px;
@mixin breakpoint($size: 'sm') {
  $min-width: 0px;

  @if $size == 'sm' {
    $min-width: $breakpoint-sm;
  }
  @else if $size == 'md' {
    $min-width: $breakpoint-md;
  }
  @else if $size == 'lg' {
    $min-width: $breakpoint-lg;
  }
  @else {
    @error "Breakpoint size option #{$size} is invalid.";
  }
  
  @media (min-width: $min-width) {
    @content;
  }
}

@mixin clearfix() {
  &::before,
  &::after {
    content: " ";
    display: table;
  }

  &::after {
    clear: both;
  }
}