<%- include('./partials/header'); %>
  <div class="container mt-2">
    <header>
      <h2>Welcome</h2>
      <p>Here is the homepage for <%= name %></p>
    </header>
  </div>
<%- include('./partials/footer'); %>