.presentation-question {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  position: relative;
  text-shadow: 0px 0px 0.25rem rgba(black, 0.75);

  &__options {
    font-size: 1.25rem;
  }
}