.nav {
  background: $color-peach;
  @include font-accent();
  color: white;
  padding: 0.5rem;
  text-align: center;

  @include breakpoint() {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
  }

  &__profile-pic {
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    vertical-align: middle;
  }

  a.nav__logo {
    font-size: 1.5rem;
    text-align: center;
    display: block;

    @include breakpoint() {
      align-self: flex-start;
      text-align: left;
      flex-grow: 1;
      font-size: 2rem;
    }

    &:hover {
      background-color: transparent;
      color: $color-charcoal;
    }
  }

  a {
    color: white;
    text-align: right;
    background-color: transparent;
    padding: 0.5rem;
    line-height: 1;
    transition: background-color 0.2s, color 0.2s;

    @include breakpoint() {
      flex: 0 1 auto;

      &:not(:last-child) {
        margin-right: 2rem;
      }
    }

    &:hover {
      color: $color-charcoal;
    }
  }
}