.nav {
  background: $color-peach;
  @include font-accent();
  color: white;
  padding: 0.5rem;
  text-align: center;
  font-size: 0.75rem;

  @include breakpoint(md) {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
    font-size: 1rem;
  }

  &__profile-pic {
    border-radius: 50%;
    height: 2em;
    width: 2em;
    vertical-align: middle;
  }

  a.nav__logo {
    font-size: 1.5rem;
    text-align: center;
    display: block;

    @include breakpoint(md) {
      align-self: flex-start;
      text-align: left;
      flex-grow: 1;
      font-size: 2rem;
    }
  }

  a {
    color: $color-charcoal;
    text-align: right;
    background-color: transparent;
    padding: 0.5rem;
    line-height: 1;
    transition: background-color 0.2s, color 0.2s;

    @include breakpoint(md) {
      flex: 0 1 auto;

      &:not(:last-child) {
        margin-right: 2rem;
      }
    }

    &:hover {
      color: black;
    }
  }
}