.presentation-title {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  text-align: center;
  position: relative;
  text-shadow: 0px 0px 0.25rem rgba(black, 0.75);
  padding: 5rem;

  &::before {
    content: $emoji-peach;
    display: block;
    font-size: 20rem;
    line-height: 1.5em;
    position: absolute;
    width: 100%;
    text-align: center;
    left: 0;
    z-index: 0;
    opacity: 0.25;
    animation: pulse 4s ease-in-out infinite;
  }

  h1.presentation-title__heading {
    position: relative;
    z-index: 1;

    @include breakpoint(md) {
      font-size: 3em;
    }
  }

  h2.presentation-title__subheading {
    @include font-primary();
    text-transform: none;
    font-style: italic;
    position: relative;
    z-index: 1;

    @include breakpoint(md) {
      font-size: 2em;
    }
  }
}

@keyframes pulse {
  0% {
    font-size: 10rem;
  }
  50% {
    font-size: 13rem;
    opacity: 0.75;
  }
  100% {
    font-size: 10rem;
  }
}